.container{
    display:flex;
    align-items: start;
    justify-content: center;
    background-color: white;
    width: 65%;
    margin: 5rem auto;
    /* grid-template-columns: 3fr 1fr;
    width: 70%;
    background-color: red;
    margin: auto;
    align-items: start; */
}