.img{
    width: 22.8rem;
}
.containerUl{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 15px;
    color: #333;
    
}
.containerUl li a:hover {
    color: black;
    cursor: pointer;
}