
.containerSection{
    display: flex;
    margin: 0 auto;
    background-color:white;
    width: 100%;
    height: fit-content;
}

.subContainer{
    margin-left: 1rem;
    margin-top: 1rem;
}

.subContainer div{
    border: 1px solid rgb(165, 159, 159);
    border-radius: 4px;
    margin-bottom: 5px;
    width: 2.3rem;
    padding: 4px;
    height: fit-content;
    height: 2.9rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    background-color: white;
    position: relative;
}
.subContainer .active{
    border: 3px solid #3483fa ;
}

.containerleftoverImages{
    position:absolute;
    background-color: hsla(0,0%,100%,.6) ;
    width: 100%;
    height: 100%;
    top: 0px
}
.leftoverImages{
    position: absolute;
    top:0px;
    z-index: 10;
}
.leftoverImages span{
    font-size: 1.5rem;
    font-weight: 900;
    color: #3483fa
}
.img{
    width: 100%; 
    height:100% ; 
    object-fit: cover;

}
.containerImg{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: start;
    object-fit: cover;
    position: relative;
    width: 80%;
    margin: 6rem auto ;
    height: fit-content;
    position: relative;
}
.imgMain{
    object-fit: cover;
}
.lens{
    display: none;
    position: absolute;
    width: 40%;
    height: 60%;
    background-color: rgb(29, 28, 28,70%);
    top: 0;
    left: 0;
}
